<a href="https://colab.research.google.com/github/VijayDalali/Python/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structure**
A data structure in Python is a way of organizing, managing, and storing data

**List** → Ordered, mutable, allows duplicates

In [1]:
lst = [1,2,3]
lst[0] #Access Element

1

In [4]:
lst = [1,2,3]
lst[0] = 2  #change Element
print(lst[0])

2

In [12]:
lst = [1,2,3]
lst.append(4) #add element
print(lst)

[1, 2, 3, 4]

In [11]:
lst = [1,2,3]
lst.remove(2) # Remove element
print(lst)

[1, 3]

In [13]:
lst = [1,2,3]
len(lst) #length of list

3

In [14]:
lst = [1,2,3]
for i in range(len(lst)): #iteration
    print(lst[i])

1
2
3

In [16]:
lst = [1,2,3]
2 in lst #check th num

True

In [18]:
lst = [1,2,3]
lst.append(1) #Duplicates allowed
print(lst)

[1, 2, 3, 1]

List → Best for dynamic collections where order and duplicates matter.

Tuple → Ordered, immutable, allows duplicates

In [21]:
tup = (1,2,3)
tup[2] #Access element

3

In [22]:
tup = (1,2,3)
tup[1] = 2  #doesn't allow to change element
print(tup[1])

TypeError: 'tuple' object does not support item assignment

In [24]:
tup = (1,2,3)
tup.append[3] # Adding element is not allowed

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
tup = (1,2,3)
tup.remove(2) #remove element is not allowed

AttributeError: 'tuple' object has no attribute 'remove'

In [27]:
tup = (1,2,3)
len(tup)

3

In [29]:
tup = (1,2,3)
for x in range(len(tup)): #Iteration
    print(tup[x])

1
2
3

In [30]:
tup = (1,2,3)
4 in tup #Check the num

False

In [33]:
#duplicate allowed?
tup = (1,2,3,1) # Tuples allow duplicates
print(tup)

(1, 2, 3, 1)

Tuple → Best for fixed collections (cannot change).

**Set** → Unordered, mutable, no duplicates

In [34]:
s={1,2,3,4}
print(s)

{1, 2, 3, 4}

In [42]:
s={1,2,3,4}
print(s(1))  # we can't access elements because there is no index

TypeError: 'set' object is not callable

In [44]:
s={1,2,3,4}
s(s[1])  # we can't change elements because there is no index

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (ipython-input-166281414.py, line 2)

In [41]:
s={1,2,3,4}
s.add(5) # add element is allowed

{1, 2, 3, 4, 5}

In [38]:
s={1,2,3,4}
s.remove(2) #remove element is allowed
print(s)

{1, 3, 4}

In [45]:
s={1,2,3,4}
len(s) #length of set

4

In [47]:
s={1,2,3,4}
for x in s: #iteration
    print(x)

1
2
3
4

In [48]:
s={1,2,3,4}
2 in s

True

In [50]:
#duplicate allowed is not allowed
s={1,2,3,4}
s.add(4) # Attempting to add a duplicate element
print(s)

{1, 2, 3, 4}

Set → Best for unique items and fast membership tests.

**Dictionary** → Key-value pairs, unordered, mutable

In [51]:
dict = {"name": "John", "age": 30, "city": "New York"}
print(dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [53]:
dict = {"name": "John", "age": 30, "city": "New York"}
print(dict["name"]) #Access element
print(dict["age"])
print(dict["city"])

John
30
New York

In [57]:
dict = {"name": "John", "age": 30, "city": "New York"} # changing elements is allowed
dict["name"] = "Vijay"
print(dict)

{'name': 'Vijay', 'age': 30, 'city': 'New York'}

In [60]:
dict = {"name": "John", "age": 30, "city": "New York"}
dict["Country"] = "USA" #add element
print(dict)

{'name': 'John', 'age': 30, 'city': 'New York', 'Country': 'USA'}

In [61]:
dict = {"name": "John", "age": 30, "city": "New York"}
del dict["age"] #delete element
print(dict)

{'name': 'John', 'city': 'New York'}

In [65]:
dict = {"name": "John", "age": 30, "city": "New York"}
for key in dict: #iteration
    print(key, dict[key])

name John
age 30
city New York

In [67]:
dict = {"name": "John", "age": 30, "city": "New York"}
len(dict) #length of dictionary

3

In [68]:
dict = {"name": "John", "age": 30, "city": "New York"}
"name" in dict

True

In [69]:
dict = {"name": "John", "age": 30, "city": "New York"}
dict.clear() #clear the dictionary
print(dict)

{}

In [70]:
dict = {"name": "John", "age": 30, "city": "New York"}
del dict #delete the dictionary
print(dict)

<class 'dict'>

In [72]:
dict = {"name": "John", "age": 30, "city": "New York"}
dict2 = dict.copy() #copy the dictionary
print(dict2)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [80]:
# Are duplicates allowed?
# In dictionaries, duplicate keys are not allowed.
# If you add a key that already exists, the new value will overwrite the old one.
dict = {"name": "John", "age": 30, "city": "New York", "name": "Vijay"}
print(dict)

{'name': 'Vijay', 'age': 30, 'city': 'New York'}

Dictionary → Best for key-value mapping (like a real-world dictionary).

# **Is String a Data Structure in Python?**
Since it stores and organizes data (characters) in a specific way (ordered, indexed, immutable), it is considered a data structure — more specifically, a sequence data type.

In [82]:
A = "Vijay"
print(A)

Vijay

In [84]:
A = "Vijay"
A[0]  # access element is allowed

'V'

In [88]:
#change element
A = "Vijay"
A[0] = "A" # This will cause a TypeError because strings are immutable

TypeError: 'str' object does not support item assignment

In [91]:
# Add element
A = "Vijay"
A.append("A") # This will cause a TypeError because strings are immutable

AttributeError: 'str' object has no attribute 'append'

In [93]:
#Remobe element
A = "Vijay"
A.remove("A") # This will cause a TypeError because strings are immutable

AttributeError: 'str' object has no attribute 'remove'

In [94]:
A = "Vijay"
len(A) # lenghth of str

5

In [98]:
A = "Vijay"
for ch in A: #iteration
    print(ch)

V
i
j
a
y

In [102]:
A = "Vijay"
"V" in A Check the ch

True

In [104]:
# Duplicates allowed?
A = "Vijay"
print(A)

# Strings allow duplicate characters
A = "VijayVijay"
print(A)

Vijay
VijayVijay

Strings = immutable, but behave like tuples of characters.

# Common Operations on Built-in Data Structures

| Operation               | **List**          | **Tuple**         | **Set**                                | **Dictionary**           | **String**        |
| ----------------------- | ----------------- | ----------------- | -------------------------------------- | ------------------------ | ----------------- |
| **Create**              | `lst = [1, 2, 3]` | `tup = (1, 2, 3)` | `s = {1, 2, 3}`                        | `d = {"a": 1, "b": 2}`   | `text = "hello"`  |
| **Access element**      | `lst[0] → 1`      | `tup[1] → 2`      | ❌ (No index)                           | `d["a"] → 1`             | `text[0] → 'h'`   |
| **Change element**      | `lst[0] = 99`     | ❌ Not allowed     | ❌ (But you can add/remove whole items) | `d["a"] = 100`           | ❌ Not allowed     |
| **Add element**         | `lst.append(4)`   | ❌ Not allowed     | `s.add(4)`                             | `d["c"] = 3`             | ❌ Not allowed     |
| **Remove element**      | `lst.remove(2)`   | ❌ Not allowed     | `s.remove(2)`                          | `d.pop("b")`             | ❌ Not allowed     |
| **Length**              | `len(lst)`        | `len(tup)`        | `len(s)`                               | `len(d)`                 | `len(text)`       |
| **Iteration**           | `for x in lst:`   | `for x in tup:`   | `for x in s:`                          | `for k,v in d.items():`  | `for ch in text:` |
| **Check membership**    | `2 in lst`        | `2 in tup`        | `2 in s`                               | `"a" in d`               | `'h' in text`     |
| **Duplicates allowed?** | ✅ Yes             | ✅ Yes             | ❌ No                                   | Keys ❌, Values ✅         | ✅ Yes             |