<a href="https://colab.research.google.com/github/VijayDalali/Python/blob/main/Data_Type_%26_Type_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1 Create a variable x = 10. Print its data type using type().
x = 10
y = 10.5
z = "2"
print(type(z))
print(type(x))
print(type(y))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
#2 What will type("123") return?
x = "123"
y = 22
z = 10.5
a = 10>2
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
#3 Convert an integer 45 into a float.
x = 45
print(type(float(x)))

<class 'float'>

In [ ]:
# 4) Convert a float 3.14 into an integer. What happens to the decimal part?
x = 3.14
print(int(x))  #decimal part is truncated. not rounded off

3

In [ ]:
#5) Store True in a variable and print its type.
x = True
print(type(x))

<class 'bool'>

In [ ]:
# 6) Predict the output:
print(type(10) == type(10.0))
 # 10 = int
 # 10.0 = float
 #int vs flot hence its flase

False

In [ ]:
#7) Create a string "100" and convert it into an integer.
num = "100"
print(type(int(str(num))))

<class 'int'>

In [ ]:
# 8) Convert an integer 255 into its binary string using bin().
num = 255
bin(num)

'0b11111111'

In [ ]:
#9) Convert the string "3.5" into a float and print it.
num = "3.5"
print(float(num))
print(type(float(num)))

3.5
<class 'float'>

In [ ]:
#10) Which data type will python assign to x=2+3j
x = 2+3j
print(type(x))

<class 'complex'>

In [ ]:
#11) Concatenate the integer 25 with the string " years old" (hint: use str()).
age = 25
print(str(age) + " years old")

25 years old

In [ ]:
#12) Convert a list [1, 2, 3] into a tuple.
x = [1,2,3]
print(tuple(x))

(1, 2, 3)

In [ ]:
#13) Convert a tuple (1, 2, 3) into a list
x = (1,2,3)
print(list(x))

[1, 2, 3]

In [ ]:
#14) Convert a list [1, 2, 2, 3] into a set. What happens to duplicates?
x=[1,2,2,3]
print(set(x)) #duplicates are removed

{1, 2, 3}

In [ ]:
#15) Convert a string "hello" into a list of characters.
x = "hello"
print(list(x))

['h', 'e', 'l', 'l', 'o']

In [ ]:
#16 Convert a list of characters ['h', 'e', 'l', 'l', 'o'] back into a string.
x = ['h','e','l','l','0']
print("".join(x))

hell0

In [ ]:
#17 What is the type of the result in 5 / 2?
x = 5/2
print(type(x))

<class 'float'>

In [ ]:
#18 Predict the type of 5 // 2
x = 5//2
print(type(x))

<class 'int'>

In [ ]:
#19 What is the output of type(True + 5)?
x = type(True+5)
print(x)

<class 'int'>

In [ ]:
#20 Convert the character 'Z' into its ASCII number.
print(ord('Z'))

90

In [ ]:
#21) Convert the integer 65 into its corresponding ASCII character.
print(chr(65))

A

In [ ]:
#22) Convert 255 into binary, octal, and hexadecimal.
num = 255
print(bin(num))
print(oct(num))
print(hex(num))

0b11111111
0o377
0xff

In [ ]:
#23 Convert the string "3.1415" into a float.
num = "3.1415"
print(float(num))
print(type(float(num)))

3.1415
<class 'float'>

In [ ]:
#24 What happens if you try int("3.14")? How to fix it?
num = "3.14"
print(int(float(num)))

3

In [ ]:
#25 Convert the string "1,2,3,4" into a list of integers [1,2,3,4].
num = "1,2,3,4"
print(list(map(int,num.split(","))))

[1, 2, 3, 4]

In [2]:
#26 Convert the dictionary {"a": 1, "b": 2} into a list of tuples.
num = {"a": 1, "b": 2}
print(list(num.items()))

[('a', 1), ('b', 2)]

In [6]:
#27 Convert the list of tuples [("x", 10), ("y", 20)] back into a dictionary.
num = [("x",10),("y",20)]
print(dict(num))

{'x': 10, 'y': 20}

In [9]:
#28 Write a program that reads input as a string and prints it as integer, float, and string
num = input("enter a number: ")
print(int(num))
print(float(num))
print(str(num))

enter a number: 42
42
42.0
42

In [10]:
#29 Why does set([1, 2, [3, 4]]) cause an error? Explain.
set([1,2,[3,4]])
# Reason: lists are mutable, sets only allow immutable (hashable) elements.

TypeError: unhashable type: 'list'

In [11]:
#30 Create a list of numbers [1, 2, 3, 4] and convert it into a string "1 2 3 4".
num = [1,2,3,4]
str = " ".join(map(str,num))
print(str)

1 2 3 4