<a href="https://colab.research.google.com/github/VijayDalali/Python/blob/main/python_if_else_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
n = -5 #  Check if a number is positive
if n > 0:
    print('Positive')
else:
    print('Negative')

Negative

In [46]:
# Check if a number is Odd or even
n = 7
if n % 2 == 0:
    print('Even')
else:
    print('Odd')

Odd

In [47]:
# Greater of two numbers
a, b = 10, 20
if a > b:
    print('a is greater')
else:
    print('b is greater')

b is greater

In [48]:
#Divisible by 7
n = 21
if n % 7 == 0:
    print('Divisible by 7')
else:
    print('Not divisible by 7')

Divisible by 7

In [49]:
# Eligible to Vote
age = 19
if age >= 18:
    print('Eligible to vote')
else:
    print('Not eligible')

Eligible to vote

In [50]:
# Pass/Fail
marks = 35
if marks >= 40:
    print('Pass')
else:
    print('Fail')

Fail

In [51]:
#leap year
year = 2024
if year % 4 == 0:
    if year % 100 != 0 or year % 400 == 0:
        print('Leap Year')
    else:
        print('Not Leap Year')
else:
    print('Not Leap Year')

Leap Year

In [52]:
#Smallest of two
a, b = 8, 6
if a < b:
    print(a, 'is smaller')
else:
    print(b, 'is smaller')

6 is smaller

In [53]:
#Multiple of 5
n = 25
if n % 5 == 0:
    print('Multiple of 5')
else:
    print('Not multiple of 5')

Multiple of 5

In [54]:
#Single or double digit
n = 42
if n < 10:
    print('Single-digit')
else:
    print('Double-digit or more')

Double-digit or more

In [55]:
# Largest of three elements
a, b, c = 100, 25, 85
if a > b and a > c:
    print(a)
elif b > c:
    print(b)
else:
    print(c)

100

In [56]:
# Postive|Negative|Zero
n = -3
if n > 0:
    print('Positive')
elif n < 0:
    print('Negative')
else:
    print('Zero')

Negative

In [57]:
# Classify the age group
age = 45
if age < 13:
    print('Child')
elif age < 20:
    print('Teen')
elif age < 60:
    print('Adult')
else:
    print('Senior')

Adult

In [58]:
#Find the Student grade
marks = 82
if marks >= 90:
    print('Grade A')
elif marks >= 75:
    print('Grade B')
elif marks >= 50:
    print('Grade C')
else:
    print('Fail')

Grade B

In [59]:
# Check if the ch is a Vowel or a consonant
ch = 'i'
if ch in 'aeiouAEIOU':
    print('Vowel')
else:
    print('Consonant')

Vowel

In [60]:
#Check the number is between 1 and 100
n = 77
if 1 <= n <= 100:
    print('In range')
else:
    print('Out of range')

In range

In [61]:
#  Find the absolute value
n = -9
if n < 0:
    print(-n)
else:
    print(n)

9

In [62]:
# find the triangle type
a, b, c = 5, 5, 5
if a == b == c:
    print('Equilateral')
elif a == b or b == c or a == c:
    print('Isosceles')
else:
    print('Scalene')

Equilateral

In [63]:
#check the driving license eligibility for the driver
age = 20
test_passed = True
if age >= 18 and test_passed:
    print('Eligible')
else:
    print('Not eligible')

Eligible

In [64]:
# Find the second largest of the three(10,20,30)
a, b, c = 10, 20, 30
if a > b:
    if a > c:
        second = b if b > c else c
    else:
        second = a
else:
    if b > c:
        second = a if a > c else c
    else:
        second = b
print('Second largest:', second)

Second largest: 20

In [65]:
#Check the century year
year = 1999
if year % 100 == 0:
    print('Century Year')
else:
    print('Not a Century Year')

Not a Century Year

In [66]:
#write a valid angle of triangle
a, b, c = 30, 60, 30
if a + b + c == 180:
    print('Valid Triangle')
else:
    print('Not a Triangle')

Not a Triangle

In [67]:
#Check the number its prime or notn = 11
if n > 1:
    for i in range(2, n):
        if n % i == 0:
            print('Not Prime')
            break
    else:
        print('Prime')
else:
    print('Not Prime')

Not Prime

In [68]:
# Which is the maximum of the four numbers(10,40,30,25)
a, b, c, d = 10, 40, 30, 25
if a > b and a > c and a > d:
    print(a)
elif b > c and b > d:
    print(b)
elif c > d:
    print(c)
else:
    print(d)

40

In [69]:
# Check the student's eligibility for a scholarship by marks and income
marks, income = 90, 400000
if marks >= 85 and income < 500000:
    print('Eligible for Scholarship')
else:
    print('Not Eligible')

Eligible for Scholarship

In [70]:
#Temperature Classification
temp = -12
if temp < 0:
    print('Freezing')
elif temp <= 20:
    print('Cold')
elif temp <= 35:
    print('Warm')
else:
    print('Hot')

Freezing

In [71]:
#Weekday or weekend
day = 5  # 1=Mon ... 7=Sun
if day in [6, 7]:
    print('Weekend')
else:
    print('Weekday')

Weekday

In [72]:
#Shop Discount
bill = 1500
if bill < 500:
    discount = 0
elif bill <= 1000:
    discount = 0.1 * bill
else:
    discount = 0.2 * bill
final_amount = bill - discount
print('Final bill:', final_amount)

Final bill: 1200.0

In [73]:
#Leap year (nested if)
year = 2028
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print('Leap Year')
        else:
            print('Not Leap Year')
    else:
        print('Leap Year')
else:
    print('Not Leap Year')

Leap Year

In [74]:
# ATM Withdrawal
balance = 5000
withdraw = 8000
if balance >= withdraw:
    balance -= withdraw
    print('Withdrawal successful. Balance:', balance)
else:
    print('Insufficient Balance')

Insufficient Balance