<a href="https://colab.research.google.com/github/VijayDalali/Python/blob/main/python_loops_30_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 1. Print numbers from 1 to 10 using for loop
for i in range(1, 11):
    print(i, end=" ")
print("\n")

1 2 3 4 5 6 7 8 9 10

In [4]:
# 2. Print numbers from 1 to 10 using while loop
i = 1
while i <= 10:
    print(i, end=" ")
    i += 1
print("\n")

1 2 3 4 5 6 7 8 9 10

In [11]:
# 3. Print even numbers between 1 and 20
for i in range(2, 21, 2):
    print(i, end=" ")
print("\n")

2 4 6 8 10 12 14 16 18 20

In [7]:
# 4. Print odd numbers between 1 and 20
for i in range(1, 21, 2):
    print(i, end=" ")
print("\n")

1 3 5 7 9 11 13 15 17 19

In [14]:
# 5. Multiplication table of 10
for i in range(1, 21):
    print(f"10 x {i} = {10*i}")
print()

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190
10 x 20 = 200

In [18]:
# 6. Sum of numbers from 1 to 1000
s = 0
for i in range(1, 1001):
    s += i
print("Sum of 1 to 1000:", s)
print()

Sum of 1 to 1000: 500500

In [19]:
 #7. Factorial of a number (example: 5!)
num = 5
fact = 1
for i in range(1, num+1):
    fact *= i
print("Factorial of", num, "is", fact)
print()

Factorial of 5 is 120

In [25]:
# 8. Count digits in an integer
num = 123456789
count = 0 # This variable will be used to store the number of digits.
while num > 0:
    count += 1 # line increments the count by 1in each iteration
    num //= 10 #interger division of num by 10
print("Number of digits:", count) #prints the final value of count
print()

Number of digits: 9

In [27]:
# 9. Print each character of a string
text = "Python"
for ch in text:
    print(ch, end=" ") #prints the current character of the string.
print("\n")

P y t h o n

In [30]:
# 10. Reverse a string using loop
text = "yajiv"
rev = "" # ch store the reversed string.
for ch in text:
    rev = ch + rev
print("Reversed:", rev)
print()

Reversed: vijay

In [32]:
# 11. First 10 Fibonacci numbers
a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b
print("\n")

0 1 1 2 3 5 8 13 21 34

In [36]:
# 12. Check if a number is prime
num = 21
is_prime = True
for i in range(2, int(num**0.5)+1):
    if num % i == 0:
        is_prime = False
        break
print(num, "is prime?", is_prime)
print()

21 is prime? False

In [38]:
# 13. All prime numbers between 1 and 50
for n in range(2, 51):
    prime = True
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            prime = False
            break
    if prime:
        print(n, end=" ")
print("\n")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [39]:
# 14. Sum of digits of a number
num = 1234
s = 0
while num > 0:
    s += num % 10
    num //= 10
print("Sum of digits:", s)
print()

Sum of digits: 10

In [40]:
# 15. Largest digit in a number
num = 59374
largest = 0
while num > 0:
    digit = num % 10
    if digit > largest:
        largest = digit
    num //= 10
print("Largest digit:", largest)
print()

Largest digit: 9

In [41]:
# 16. List of squares from 1 to 10
squares = []
for i in range(1, 11):
    squares.append(i**2)
print("Squares:", squares)
print()

Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
# 17. Numbers 1-100 skipping multiples of 3
for i in range(1, 50):
    if i % 3 == 0:
        continue
    print(i, end=" ")
print("\n")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49

In [47]:
# 18. Multiplication table for user input
num = 999
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")
print()

999 x 1 = 999
999 x 2 = 1998
999 x 3 = 2997
999 x 4 = 3996
999 x 5 = 4995
999 x 6 = 5994
999 x 7 = 6993
999 x 8 = 7992
999 x 9 = 8991
999 x 10 = 9990

In [49]:
# 19. Count vowels and consonants in string
text = "Vijaykumar V Dalali"
vowels = 0
consonants = 0
for ch in text.lower():
    if ch.isalpha():
        if ch in "aeiou":
            vowels += 1
        else:
            consonants += 1
print("Vowels:", vowels, "Consonants:", consonants)
print()

Vowels: 7 Consonants: 10

In [50]:
# 20. Reverse of a number
num = 1234
rev = 0
while num > 0:
    rev = rev*10 + num % 10
    num //= 10
print("Reversed number:", rev)
print()

Reversed number: 4321

In [55]:

# 21. Pyramid pattern
for i in range(1, 5):
    print(" "*(5-i) + "*"*(2*i-1))
print()

    *
   ***
  *****
 *******

In [56]:
# 22. Inverted pyramid
for i in range(5, 0, -1):
    print(" "*(5-i) + "*"*(2*i-1))
print()

*********
 *******
  *****
   ***
    *

In [57]:
# 23. Floyd's triangle
num = 1
for i in range(1, 6):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()
print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [58]:
# 24. Pascal’s triangle
rows = 5
for i in range(rows):
    print(" "*(rows-i), end="")
    val = 1
    for j in range(i+1):
        print(val, end=" ")
        val = val * (i-j) // (j+1)
    print()
print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [59]:
# 25. Prime factors of a number
num = 84
i = 2
print("Prime factors of", num, ":")
while num > 1:
    if num % i == 0:
        print(i, end=" ")
        num //= i
    else:
        i += 1
print("\n")

Prime factors of 84 :
2 2 3 7

In [60]:
# 26. GCD of two numbers
a, b = 56, 98
while b != 0:
    a, b = b, a % b
print("GCD:", a)
print()

GCD: 14

In [62]:
# 27. LCM of two numbers
a, b = 15, 20
x, y = a, b
while a != b:
    if a < b:
        a += x
    else:
        b += y
print("LCM:", a)
print()

LCM: 60

In [63]:
# 28. Armstrong numbers between 1 and 1000
for num in range(1, 1001):
    order = len(str(num))
    s = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        s += digit ** order
        temp //= 10
    if s == num:
        print(num, end=" ")
print("\n")

1 2 3 4 5 6 7 8 9 153 370 371 407

In [64]:
# 29. Collatz sequence
num = 6
print("Collatz sequence:")
while num != 1:
    print(num, end=" → ")
    if num % 2 == 0:
        num //= 2
    else:
        num = 3*num + 1
print(1)
print()

Collatz sequence:
6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1

In [65]:
# 30. Palindrome number
num = 12321
temp = num
rev = 0
while temp > 0:
    rev = rev*10 + temp % 10
    temp //= 10
print(num, "is palindrome?", num == rev)

12321 is palindrome? True