<a href="https://colab.research.google.com/github/VijayDalali/Python/blob/main/python_data_structures_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Problems

In [3]:
# Create a list of 5 numbers and print the first and last element.
lst = [10, 20, 30, 40, 50]
print(lst[0], lst[4])

10 50

In [4]:
# Append a new element to the list and display it.
lst = [1, 2, 3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

In [ ]:
# Remove the second element from a list.
lst = [5, 6, 7, 8]
lst.pop(1)
print(lst)

In [10]:
#Find the sum and average of all numbers in a list.
lst = [10, 20, 30]
sum(lst)
print("Sum:", sum(lst))
sum(lst)/len(lst)
print("Average:", sum(lst)/len(lst))

Sum: 60
Average: 20.0

In [11]:
#Sort a list in ascending and descending order.
lst = [3, 1, 4, 2]
print(sorted(lst))
print(sorted(lst, reverse=True))

[1, 2, 3, 4]
[4, 3, 2, 1]

In [12]:
# Remove duplicates from a list.
lst = [1, 2, 2, 3, 3, 4]
print(list(set(lst)))

[1, 2, 3, 4]

# Tuple Problems

In [13]:
# Create a tuple of fruits and print its length.
tup = ("apple", "banana", "cherry")
print(len(tup))

3

In [14]:
#Access the 3rd element of a tuple using indexing.
tup = (10, 20, 30, 40)
print(tup[2])

30

In [15]:
#Convert a tuple into a list, modify it, and convert back to tuple.
tup = (1, 2, 3)
lst = list(tup)
lst[1] = 99
tup = tuple(lst)
print(tup)

(1, 99, 3)

In [16]:
#Check whether an element exists in a tuple.
tup = ("a", "b", "c")
print("b" in tup)

True

In [17]:
# Concatenate two tuples.
tup1 = (1, 2)
tup2 = (3, 4)
print(tup1 + tup2)

(1, 2, 3, 4)

In [18]:
# Find max and min in a tuple.
tup = (5, 1, 8, 3)
print(max(tup), min(tup))

8 1

# Set Problems

In [20]:
#Create a set of 5 unique numbers.
s = {1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

In [19]:
#Add and remove elements from a set.
s = {10, 20}
s.add(30)
s.remove(20)
print(s)

{10, 30}

In [21]:
#Find the union of two sets.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1 | s2)

{1, 2, 3, 4, 5}

In [22]:
#Find the intersection of two sets.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1 & s2)

{2, 3}

In [23]:
#Find the difference of two sets.
s1 = {1, 2, 3}
s2 = {2, 3}
print(s1 - s2)

{1}

In [24]:
#Check if one set is subset of another.
s1 = {1, 2}
s2 = {1, 2, 3}
print(s1.issubset(s2))

True

# Dictionary Problems

In [25]:
#Create a dictionary and print it.
d = {"name": "Vijay", "age": 21, "city": "Delhi"}
print(d)

{'name': 'Vijay', 'age': 21, 'city': 'Delhi'}

In [26]:
#Add a new key-value pair to the dictionary.
d = {"name": "Vijay", "age": 21}
d["country"] = "India"
print(d)

{'name': 'Vijay', 'age': 21, 'country': 'India'}

In [27]:
#Update the age value in dictionary.
d = {"name": "Vijay", "age": 21}
d["age"] = 22
print(d)

{'name': 'Vijay', 'age': 22}

In [28]:
#Delete a key from dictionary.
d = {"name": "Vijay", "age": 21, "city": "Delhi"}
d.pop("city")
print(d)

{'name': 'Vijay', 'age': 21}

In [29]:
#Print all keys and values separately.
d = {"a": 1, "b": 2}
print(d.keys())
print(d.values())

dict_keys(['a', 'b'])
dict_values([1, 2])

In [30]:
#Merge two dictionaries.
d1 = {"x": 1, "y": 2}
d2 = {"z": 3}
d1.update(d2)
print(d1)

{'x': 1, 'y': 2, 'z': 3}

# String Problems

In [32]:
#Print first and last character of a string.
s = "hello"
print(s[0], s[4])

h o

In [33]:
#Reverse a string
s = "python"
print(s[::-1])

nohtyp

In [34]:
#Count how many times a character appears.
s = "banana"
print(s.count("a"))

3

In [35]:
#Check if a string is a palindrome.
s = "madam"
print(s == s[::-1])

True

In [36]:
#Convert string to uppercase and lowercase.
s = "Hello"
print(s.upper())
print(s.lower())

HELLO
hello

In [37]:
# Split string into words and join with -.
s = "Python is fun"
words = s.split()
print("-".join(words))

Python-is-fun