<a href="https://colab.research.google.com/github/VijayDalali/Python/blob/main/python_functions_30_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Print Hello World
def say_hello():
    print("Hello, World!")

say_hello()

Hello, World!

In [2]:
#Write a function that takes a name and prints a greeting.
def greet(name):
    print(f"Hello, {name}!")

greet("Vijay")

Hello, Vijay!

In [3]:
# add sum
def add(a, b):
    print("Sum is:", a + b)

add(5, 3)

Sum is: 8

In [4]:
#Write a function that multiplies two numbers and returns the result.
def multiply(a, b):
    return a * b

print("Product is:", multiply(4, 6))

Product is: 24

In [5]:
# Write a function that returns the square of a number.
def square(n):
    return n ** 2

print("Square of 7 is:", square(7))

Square of 7 is: 49

In [6]:
#Write a function to calculate the factorial of a number.
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [7]:
#Write a function that prints the first 10 natural numbers.
def print_natural():
    for i in range(1, 11):
        print(i, end=" ")

print_natural()

1 2 3 4 5 6 7 8 9 10

In [9]:
# Write a function to check whether a number is even or odd.
def even_or_odd(n):
    if n % 2 == 0:
        print(n, "is Even")
    else:
        print(n, "is Odd")

even_or_odd(11)

11 is Odd

In [10]:
#Write a function that returns the sum of numbers from 1 to n.
def sum_n(n):
    return sum(range(1, n+1))

print("Sum of 1 to 10:", sum_n(10))

Sum of 1 to 10: 55

In [11]:
#Write a function to find the maximum element in a list.
def max_in_list(lst):
    return max(lst)

print("Max:", max_in_list([3, 7, 2, 9, 5]))

Max: 9

In [12]:
#Write a function to find the minimum element in a list.
def min_in_list(lst):
    return min(lst)

print("Min:", min_in_list([3, 7, 2, 9, 5]))

Min: 2

In [14]:
#Write a function that returns the sum and average of a list.
def sum_and_avg(lst):
    total = sum(lst)
    avg = total / len(lst)
    return total, avg

print("Sum & Avg:", sum_and_avg([10, 20, 30, 40]))

Sum & Avg: (100, 25.0)

In [15]:
#Write a function to find the GCD of two numbers.
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print("GCD of 56 & 98:", gcd(56, 98))

GCD of 56 & 98: 14

**Problem:** 14. Write a function to generate Fibonacci sequence up to n terms.

In [16]:
#Write a function to generate Fibonacci sequence up to n terms.
def fibonacci(n):
    seq = []
    a, b = 0, 1
    for _ in range(n):
        seq.append(a)
        a, b = b, a + b
    return seq

print("Fibonacci (10 terms):", fibonacci(10))

Fibonacci (10 terms): [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [18]:
#Write a function to check if a number is prime.
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

print("29 is prime?", is_prime(29))

29 is prime? True

In [19]:
#Write a function to print all prime numbers in a range.
def primes_in_range(start, end):
    primes = []
    for num in range(start, end+1):
        if is_prime(num):
            primes.append(num)
    return primes

print("Primes 10-50:", primes_in_range(10, 50))

Primes 10-50: [11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [20]:
#Write a function that demonstrates a local variable.
def local_example():
    x = 10
    print("Local x:", x)

local_example()

Local x: 10

In [21]:
#Show that a variable inside a function is not accessible outside
def scope_test():
    y = 20
    print("Inside function:", y)

scope_test()
# print(y)  # ❌ Error

Inside function: 20

In [22]:
#Modify a global variable inside a function.
z = 100

def modify_global():
    global z
    z += 50

modify_global()
print("Global z after modification:", z)

Global z after modification: 150

In [23]:
#Demonstrate variable shadowing.
x = 50

def shadowing():
    x = 10
    print("Inside function x:", x)

shadowing()
print("Outside function x:", x)

Inside function x: 10
Outside function x: 50

In [24]:
#Write a function with default parameter.
def greet_person(name="Guest"):
    print("Hello,", name)

greet_person()
greet_person("Ravi")

Hello, Guest
Hello, Ravi

In [25]:
#Demonstrate keyword arguments.
def intro(name, age):
    print(f"My name is {name} and I am {age} years old.")

intro(age=21, name="Arun")

My name is Arun and I am 21 years old.

In [ ]:
#Demonstrate variable length arguments (*args and **kwargs)
def demo_args(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

demo_args(1, 2, 3, name="Vijay", age=22)

In [26]:
#Write a function that divides two numbers with error handling.
def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return "Error: Division by zero"

print(safe_divide(10, 2))
print(safe_divide(5, 0))

5.0
Error: Division by zero

In [28]:
#Convert a string to integer with error handling.
def safe_int(s):
    try:
        return int(s)
    except ValueError:
        return "Error: Not a valid integer"

print(safe_int("123"))
print(safe_int("abc"))

123
Error: Not a valid integer

In [29]:
#Safely open a file with error handling.
def safe_file_open(filename):
    try:
        with open(filename, "r") as f:
            return f.read()
    except FileNotFoundError:
        return "Error: File not found"

print(safe_file_open("not_exists.txt"))

Error: File not found

In [30]:
#Find square root of a number with error handling.
import math

def safe_sqrt(n):
    try:
        if n < 0:
            raise ValueError("Negative number")
        return math.sqrt(n)
    except ValueError as e:
        return f"Error: {e}"

print(safe_sqrt(16))
print(safe_sqrt(-9))

4.0
Error: Negative number

In [31]:
#Handle list index out of range error.
def safe_index(lst, idx):
    try:
        return lst[idx]
    except IndexError:
        return "Error: Index out of range"

print(safe_index([1, 2, 3], 1))
print(safe_index([1, 2, 3], 5))

2
Error: Index out of range

In [32]:
#Handle dictionary key error.
def safe_get(d, key):
    try:
        return d[key]
    except KeyError:
        return "Error: Key not found"

print(safe_get({"a": 1, "b": 2}, "a"))
print(safe_get({"a": 1, "b": 2}, "c"))

1
Error: Key not found

In [33]:
#Simple calculator with error handling.
def calculator(a, b, op):
    try:
        if op == "add":
            return a + b
        elif op == "sub":
            return a - b
        elif op == "mul":
            return a * b
        elif op == "div":
            return a / b
        else:
            return "Error: Invalid operation"
    except ZeroDivisionError:
        return "Error: Division by zero"

print(calculator(10, 5, "add"))
print(calculator(10, 0, "div"))
print(calculator(10, 5, "pow"))

15
Error: Division by zero
Error: Invalid operation