<a href="https://colab.research.google.com/github/VijayDalali/Python/blob/main/python_operations_expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
a, b = 10, 5 # adding two num
print(a + b)

15

In [74]:
a, b = 10, 5 #subtract two num
print(a - b)

5

In [75]:
a, b = 10, 5 #Multiply two numbers
print(a * b)

50

In [76]:
a, b = 10, 5 #Divide two num
print(a / b)

2.0

In [77]:
a, b = 10, 3 #Remainder
print(a % b)

1

In [78]:
print(2 ** 3)  # Power of number

8

In [79]:
print(10 // 3)  # Floor Division

3

In [80]:
a, b = 5, 7  # Swap data in variable using arithmetic
a = a + b
b = a - b
a = a - b
print(a, b)

7 5

In [81]:
n = 7 #Check even number or not
print(n % 2 == 0)

False

In [82]:
n = 30 #num should be divisible by 3 and 5
print(n % 3 == 0 and n % 5 == 0)

True

In [83]:
a, b = 10, 5 #Compare two number
if a > b:
    print('a is greater')
elif a < b:
    print('b is greater')
else:
    print('Both equal')

a is greater

In [84]:
n = 55 # Given Number is between 10 and 50 or not!
print(10 <= n <= 50)

False

In [85]:
a, b, c = 10, 25, 35
largest = (a if a > b else b) if ((a if a > b else b) > c) else c
print(largest)

35

In [86]:
n = 5 #Given number is postive|negative|zero
if n > 0:
    print('Positive')
elif n < 0:
    print('Negative')
else:
    print('Zero')

Positive

In [87]:
age, citizen = 19, True # Voting eligibility
print(age >= 18 and citizen)

True

In [88]:
n = 64 #Find the square root
print(n ** 0.5)

8.0

In [89]:
a, b, c = 7, 10, 5 #Triangle Check
print(a + b > c and a + c > b and b + c > a)

True

In [90]:
n = 69 #Reverse two-digit number
rev = (n % 10) * 10 + (n // 10)
print(rev)

96

In [91]:
r = 5 #Area of Cricle
area = 3.14 * r ** 2
print(area)

78.5

In [92]:
marks = [80, 90, 75, 85, 95] #Sum of marks total and average
total = sum(marks)
avg = total / 5
print(total, avg)   # 425 85.0

425 85.0

In [93]:
n = 553 # Sum of three_digit number
s = (n // 100) + (n // 10 % 10) + (n % 10)
print(s)

13

In [94]:
n = 153 # Armstrong num check
s = (n // 100) ** 3 + (n // 10 % 10) ** 3 + (n % 10) ** 3
print(s == n)   # True

True

In [95]:
year = 2026 #Leap Year
print(year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))  # True

False

In [96]:
c = 55 # Convert celsius to Fahrenheit
f = (c * 9/5) + 32
print(f)

131.0

In [97]:
p, r, t = 1000, 50, 2 #Simple interest
si = (p * r * t) / 100
print(si)

1000.0

In [98]:
p, r, t = 1000, 5, 2 #Compound Interest
ci = p * ((1 + r/100) ** t) - p
print(ci)   # 102.5

102.5

In [99]:
x1, y1, x2, y2 = 1, 2, 4, 6 #Distance between two points
dist = ((x2 - x1)**2 + (y2 - y1)**2) ** 0.5
print(dist)   # 5.0

5.0

In [100]:
x1, y1, x2, y2 = 1, 2, 4, 6  #Slope of line
slope = (y2 - y1) / (x2 - x1)
print(slope)   # 1.333...

1.3333333333333333

In [101]:
a, b, c = 1, -3, 2 #Quadratics roots
d = (b**2 - 4*a*c) ** 0.5
root1 = (-b + d) / (2*a)
root2 = (-b - d) / (2*a)
print(root1, root2)   # 2.0 1.0

2.0 1.0

In [102]:
days = 5533 # Days--> Years, Weeks, Days
years = days // 365
weeks = (days % 365) // 7
days_left = (days % 365) % 7
print(years, 'years', weeks, 'weeks', days_left, 'days')

15 years 8 weeks 2 days